COMPOSE_PROJECT_NAME=etl-sandbox
POSTGRES_IMAGE=postgres:16.4
POSTGRES_USER=sandbox_admin
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_PORT=5433
AIRFLOW_IMAGE=etl-sandbox-airflow:2.10.5
AIRFLOW_PORT=8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change-me-airflow-only
AIRFLOW_ADMIN_EMAIL=admin@example.test
AIRFLOW_UID=50000
SOURCE_DB=source_db
WAREHOUSE_DB=warehouse_db
AIRFLOW_DB=airflow_db
